html {
  margin: 0;
}
body {
  background: #581845;
  color: white;
}
.purple-bg {
  background: #581845;
}
.magenta-bg {
  background: #900C3F;
}
.pink-bg {
  background: #C70039;
}
.orange-bg {
  background: #FF5733;
}
.yellow-bg {
  background: #a78520;
}
.white-bg {
  background: white;
  color: #000;
  display: flex;
}
.white-bg h5 {
  font-size: 34px;
  padding: 0px 15px 5px 15px;
}
.white-bg p {
  font-size: 20px;
  padding: 15px 15px;
  line-height: 180%;
}
.white-bg .content {
  align-self: center;
}
nav {
  padding-top: 10px;
}
nav > .container {
  max-width: 960px;
}
nav > .container > .row span.logo {
  display: inline-block;
  font-size: 20px;
}
nav > .container > .row span.logo > i {
  font-size: 20px;
  margin: 0 3px;
}
nav > .container > .row span.logo > i:first-child {
  font-size: 30px;
}
nav > .container > .row span.logo > i:last-child {
  font-size: 24px;
  position: relative;
  top: 2px;
}
nav > .container > .row > .nav > .nav-item > a {
  color: white;
}
section.thisme h1 {
  font-size: 200px;
  line-height: 110%;
}
section.thisme h2 {
  font-size: 40px;
  line-height: 190%;
}
section.workit {
  padding: 0;
}
section.workit .wordage {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 350px;
  padding: 0 10px;
  justify-content: center;
}
section.workit .wordage i {
  font-size: 80px;
}
section.workit .wordage i.fa-mobile {
  font-size: 110px;
  line-height: 65px;
}
section.workit .wordage div {
  font-size: 20px;
}
.portfolio {
  background: white;
  padding: 50px 0;
}
.portfolio .container .row .col .web-tech {
  background: white;
  display: block;
  text-align: center;
}
.portfolio .container .row .col .web-tech img {
  width: 100px;
}
.portfolio .container .row .col .web-tech.css > img {
  max-width: 70px;
}
.portfolio .container .row .col .web-tech span.react {
  color: #61dbfb;
  font-size: 20px;
  font-weight: 600;
}
.portfolio .container .row .col .web-tech:hover {
  text-decoration: none;
}
.container {
  max-width: 960px;
}
.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color 0.15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.shadow {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22) !important;
}
.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}
@media (max-width: 576px) {
  .nav-link {
    padding: .25rem .5rem;
  }
  section.thisme h1 {
    font-size: 60px;
  }
}
.overflow-hidden {
  overflow: hidden;
}
