
@purple: #2D112A;
@magenta: #500130;
@pink: #900835;
@orange: #FF563C;
@yellow: #FE7F42;
@beige: #FFDCC8;
@navbg: rgba(0,0,0,0.5);

html {
    margin: 0
}

body {
  background: @orange;
  color: white;
  position: relative;
}

.purple-bg {
  background: @purple;
}
.magenta-bg {
  background: @magenta;
}
.pink-bg {
  background: @pink;
}
.orange-bg {
  background: @orange;
}
.yellow-bg {
  background: @yellow;
}
.beige-bg {
  background: @beige;
}
.nav-bg {
  background: @navbg;
}
.white-bg {
  background: white;
  color: #000;
  display: flex;

  h5 {
    font-size: 34px;
    padding: 0px 15px 5px 15px;
  }
  p {
    font-size: 20px;
    padding: 15px 15px;
    line-height: 180%;
  }
  .content {
    align-self: center;
  }
}

div.spacer {
  min-height: 60px;
}

.thisme {
  h1 {
    span {
      opacity: 0;
      &:first-child {
        transition: opacity 2s;
      }
      &:last-child {
        transition: opacity 1s;
      }
    }
  }
  h2 {
    width: 100%;
    opacity: 0;
    transition: width 2s, opacity 2.5s;
    white-space: nowrap;
    text-align: right;
  }
}

nav {
  padding-top: 10px;
  
  >.container {
    max-width: 960px;
    >.row {
      span.logo {
        display: inline-block;
        font-size: 20px;
        >i {
          font-size: 20px;
          margin: 0 3px;
        }
        >i:first-child {
          font-size: 30px;
        }
        >i:last-child {
          font-size: 24px;
          position: relative;
          top: 2px;
        }
      }
      >.nav {
        >.nav-item {
          >a{
            color: white;

            &.active {
              border-bottom:1px solid white;
            }
          }
        }
      }
    }
  }
}


section.thisme {
  h1 {
    font-size: 200px;
    line-height: 110%;
  }
  h2 {
    font-size: 40px;
    line-height: 190%;
  }
}

section.workit {
  padding: 0;

  .wordage {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 350px;
    padding: 0 10px;
    justify-content: center;

    i {
      font-size: 80px;

      &.fa-mobile {
        font-size: 110px;
        line-height: 65px;
      }
    }
    div {
      font-size: 20px;
    }
  }
}

.portfolio {
  background: white;
  padding: 50px 0;
  .container {
    .row {
      .col {
        .web-tech {
          background: white;
          display: block;
          text-align: center;
          img {
            width: 100px;
          }
          &.css>img {
            max-width: 70px;
          }
          span.react {
            color: #61dbfb;
            font-size: 20px;
            font-weight: 600;
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

footer {
  height: 150vh;
  position: relative;

  .spacer {
    h6 {
      font-size: 1.8rem;
    }
  }
  #my-waters-boy {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #03071e;
    p {
      font-size: 40px;
      text-align: center;
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      img {
        width: 100%;
        max-width: 540px;
      }
    }
  }
}

.portimg {
  width: 100%;
  height: auto;
}

.github-widget {
  background: white;
}

#templateGraphic {
  margin: 116px 0;
}

.container {
  max-width: 960px;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);

    a {
        color: #999;
        transition: ease-in-out color .15s;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

}

.shadow {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3), 0 15px 15px rgba(0,0,0,0.3) !important;
}


@media (max-width: 768px) {
  section.thisme h1 {
    font-size: 100px;
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .nav-link {
    padding: .25rem .5rem;
  }
  section.thisme h1 {
    font-size: 60px;
  }
  #templateGraphic {
    margin: 50px 0;
  }
  footer {
    height: 200vh;
    #my-waters-boy {
      background: #03071e;
      p {
        font-size: 24px;
        text-align: center;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  nav > .container > .row span.logo {
    display: none;
  }
}

.overflow-hidden { overflow: hidden; }